*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

/* /==>Mobile view<==/ */

body {
    background-color: hsl(0, 100%, 98%);
    background-repeat: no-repeat;
    
}



.heading {
    padding-top: 0;
}

.picture {
    padding: 25px;
    float: left;
}

.picture2 {
    width: 100%;
    height: 45vh;
    padding-top: 15px;
    padding-bottom: 20px;
}

.para1 {
    color: hsl(0, 36%, 70%);
    font-size: 42px;
    text-align: center;
    font-family: "Josefin Sans";
    font-weight: lighter;
}

.para2 {
    font-size: 42px;
    text-align: center;
    font-weight: bolder;
    font-family: "Josefin Sans";
}

.para3 {
    font-size: 42px;
    text-align: center;
    font-weight: bolder;
    font-family: "Josefin Sans";
}

.para4 {
    color: hsl(0, 36%, 70%);
    text-align: center;
    font-family: "Josefin Sans";
}

.input1 {
    position: absolute;
    top: 730px;
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
    width: 292px;
    height: 55px;
    border-radius: 30px;
    border: lightgrey;
    margin-left: -157px;
    border: 1px solid;
    font-family: "Josefin Sans";
    font-size: 10px;

}

.button{

    border-radius: 90px;
    width: 70px;
    height: 55px;
    border: inherit;
    padding: 10px 40px;
    background: linear-gradient(to right, hsl(0, 55%, 83%) ,hsl(0, 74%, 74%));
    border-radius: 30px;
    position: absolute;
    top: 730px;
    left: 254px;
    font-size: 16px;
    color: white;
    border: hsl(0, 74%, 74%);
    text-align: center;
}

::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 5px;
    font-family: "Josefin Sans";
    font-weight: lighter;
    padding-right: 120px;
}

/* /==>Desktop view<==/ */

@media screen and (min-width: 600px) {
    .heading, .para1, .para2, .para3, .para4, .logopic, .parent, .picture, .picture2, .input1, .button, ::placeholder {
        display: none;
    }
}
  
@media screen and (max-width: 599px) {
    .picturehero, .picturehero2, .heading2, .parahero1, .parahero2, .parahero3, .parahero4, .inputhero1, .logopic2, .button1, .parenthero {
        display: none;
    }
}


body{
    background-image: url(baseapparel/background.svg);
    
}


.picturehero {
    padding: 30px;
    padding-left: 150px;
    float: left;
    padding-top: 80px;
}


 .picturehero2 {
     float: right;
}

.heading2 {
    padding-top: 200px;
    text-align: left;

}

.parahero1 {
    color: hsl(0, 36%, 70%);
    font-size: 60px;
    text-align: left;
    padding-left: 150px;
    font-family: "Josefin Sans";
    font-weight: lighter;
}

.parahero2 {
    font-size: 60px;
    padding-left: 150px;
    font-family: "Josefin Sans";
    font-weight: bold;
    text-align: left;
}

.parahero3 {
    font-size: 60px;
    padding-left: 150px;
    font-family: "Josefin Sans";
    font-weight: bold;
    text-align: left;
}

.parahero4 {
    font-size: 15px;
    padding-left: 150px;
    font-family: "Josefin Sans";
    text-align: left;
    color:  hsl(0, 36%, 70%);
}

.inputhero1 {
    padding-left: 150px;
    position: relative;
    text-align: center;
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
}

.parenthero {
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 200px;
    padding-bottom: 25px;
    border-radius: 40px;
    text-align: center;
    border-color: lightgrey;
    border-top-color: lightgrey;
    width: 30%;
    height: 5vh;
}

.button1 {
    position: absolute;
    right: 0;

    border-radius: 50px;
    padding: 12px 53px;
    background: linear-gradient(to right, hsl(0, 55%, 83%) ,hsl(0, 74%, 74%));
    font-size: 30px;
    color: white;
    border: hsl(0, 74%, 74%);
    text-align: center; 
    font-family: "Josefin Sans";
}

::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 20px;
    font-family: "Josefin Sans";
    font-weight: lighter;
}